/* .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlu {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
