.news-container {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  padding: 2rem;

  border-radius: 1rem;
  margin-left: 20rem;
  transform: translate(-10%, 0);
  margin-bottom: 3.2rem;
}

.news {
  width: 60rem;
  /* height: 16rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  /* margin: 2rem 0; */
  /* align-items: center; */
}

.doggo {
  width: 10rem;
  height: 10rem;
  /* border-radius: 50%; */
  /* object-fit: cover; */
  border: 0.2rem solid #ccc;
}

.textbox {
  color: #ccc;
}

.btn--news {
  padding: 1rem 2rem;
  text-align: center;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  /* transition: property time type delay */
}
